Source: ros-hydro-rosh-visualization
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/rosh_visualization
Standards-Version: 3.9.2

Package: ros-hydro-rosh-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rosh, ros-hydro-roslib, ros-hydro-rviz
Description: ROSH plugin for the visualization stack.
