Source: ros-indigo-rosh-visualization
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/rosh_visualization
Standards-Version: 3.9.2

Package: ros-indigo-rosh-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-image-view, ros-indigo-rosh, ros-indigo-roslib
Description: ROSH plugin for the visualization stack.
